<!DOCTYPE html>
<html>
<title>Accounting Reports</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/sidenavStyle.css">
<link rel="stylesheet" href="/static/topbarStyle.css">

<style>
#accountReportTemplate{
	border:0.5px solid #000;
	border-collapse:collapse;
	width:100%;
}
#accountReportTemplate td{
	text-align:center;
	border:0.5px solid #000;

}
#trialBalanceTemplate{
	border:0.5px solid #000;
	border-collapse:collapse;
	width:100%;
}
#trialBalanceTemplate td{
	text-align:center;
	border:0.5px solid #000;
	padding:5px;
}

#FPSTemplate{
	border:0.5px solid #000;
	border-collapse:collapse;
	width:100%;
}
#FPSTemplate td{
	text-align:center;
	border:0.5px solid #000;
	padding:5px;

}

#ISTemplate{
	border:0.5px solid #000;
	border-collapse:collapse;
	width:100%;
}
#ISTemplate td{
	text-align:center;
	border:0.5px solid #000;
	padding:5px;

}


#cashCoverTemplate td{border:0.5px solid #000;padding:5px;}
.printedReporthead{display:inline-block;margin:15px;}
@media print {
  body * {
    visibility: hidden;
  }
  #temp, #temp * {
    visibility: visible;
  }
  #temp{
    position: absolute;
    left: 0;
    top: 0;
  }
}
</style>
<body>
<%-include('sidenav.ejs')%>

<div class="main" id="container">
<section id="content-tab1">
		<div style="background-color:#173f5f;border-radius:5px;padding:10px;">
			<a class="y" id="tab1-trialBalance">Trial Balance</a>
			<a class="y unactive" id="tab1-FPS">Financial Position Statement</a>
			<a class="y unactive" id="tab1-IS">Income Statement</a>
		</div>
		<section id="trialBalance" class="tabsec">
			<h1 style="text-align:Center;">Trial Balance</h1>
			<form>
				<table>
				  <tr>
						<td>
						    <p>From Date</p>
						</td>
						<td>
						    <input type="Date" id="fromDate"/>
						</td>
					</tr>
					<tr>
						<td>
								<p>To Date</p>
						</td>
						<td>
								<input type="Date" id="toDate"/>
						</td>
					</tr>

				  <tr>
					    <td><button class="button" onClick="return getTrialBalance();">Get Report</button></td>
				  </tr>
				</table>
			</form>
		</section>


		<!--Delete-->



		<section id="FPS" class="tabsec" style="display:none;">
			<h1 style="text-align:Center;">Financial Position Statement</h1>
			<form>
				<table>
					<tr>
						<td>
						    <p>From</p>
						</td>
						<td>
						    <input type="Date" id="FPSDate"/>
						</td>
					</tr>
			    <tr>
				    <td><button class="button" onClick="return getFPS();">Get Report</button></td>
			    </tr>
				</table>
			</form>
		</section>



		<!--Print-->



		<section id="IS" class="tabsec" style="display:none;">
			<h1 style="text-align:Center;">Income List</h1>
			<form>
				<table>
				  <tr>
						<td>
						    <p>From Date</p>
						</td>
						<td>
						    <input type="Date" id="ISFromDate"/>
						</td>
				    </tr>
						<tr>
							<td>
									<p>To Date</p>
							</td>
							<td>
									<input type="Date" id="ISToDate"/>
							</td>
						</tr>
				    <tr>
					    <td><button class="button" onClick="return getIS();">Get Report</button></td>
				   </tr>
				</table>
			</form>
		</section>
</section>
</div>


<!--trial balance-->
<table style="width:100%;border:0.5px solid #000;border-collapse:collapse;text-align:center;display:none;" id="trialBalanceTemplate" dir="rtl">
	<tr>
		<td colspan="2">أرصدة</td>
		<td colspan="2">مجاميع</td>
		<td colspan="2">رصيد اول الفترة</td>
		<td colspan="2" rowspan="2">البيان</td>
	</tr>
	<tr>
		<td>مدين</td>
		<td>دائن</td>
		<td>مدين</td>
		<td>دائن</td>
		<td>مدين</td>
		<td>دائن</td>
	</tr>
</table>


<table style="width:100%;border:0.5px solid #000;border-collapse:collapse;text-align:center;display:none;" id="FPSTemplate" dir="rtl">
	<tr>
		<td><strong>البيان</strong></td>
		<td><strong>الأرصدة</strong></td>
	</tr>
</table>


<table style="width:100%;border:0.5px solid #000;border-collapse:collapse;text-align:center;display:none;" id="ISTemplate" dir="rtl">
	<tr>
		<td><strong>البيان</strong></td>
		<td><strong>الأرصدة</strong></td>
	</tr>
</table>





<script src="/static/jquery-min.js"></script>
<script src="/static/frontendlib.js"></script>
<script src="/static/topbarFunction.js"></script>


<!--vainlia javascript-->

<script>
function getTrialBalance(){
	const z=0;
	var fromDate=document.getElementById("fromDate").value;
	var toDate=document.getElementById("toDate").value;
	if(fromDate=="" || toDate==""){alert("insert valid date!");}
	else{
		var obj={fromDate:fromDate,toDate:toDate};
		ajaxRequest("api/accountingReports/getTrialBalance","POST","application/json",obj,(res)=>{
			if(res.status==200){
				var trialBalanceTemplate=document.getElementById("trialBalanceTemplate");
				var trialBalanceTemplate=trialBalanceTemplate.cloneNode(true);
				trialBalanceTemplate.style.display="table";

				var totalMovesCredit=0;
				var totalMovesDebit=0;
				var totalBalanceCredit=0;
				var totalBalanceDebit=0;
				var totalBeginingBalanceDebit=0;
				var totalBeginingBalanceCredit=0;

				var majorAccounts=JSON.parse(res.responseText);
				console.log(majorAccounts);
				var keys=Object.keys(majorAccounts);
				for(var i=0;i<keys.length;i++){

					k=keys[i];
					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					var td3=document.createElement("td");
					var td4=document.createElement("td");
					var td5=document.createElement("td");
					var td6=document.createElement("td");
					var td7=document.createElement("td");
					var balance=777;
					var beginingBalance=777;
					if(majorAccounts[k].nature=="debit"){
						beginingBalance=majorAccounts[k].beginingDebit-majorAccounts[k].beginingCredit;
						balance=majorAccounts[k].debit-majorAccounts[k].credit;
						balance+=beginingBalance;
						if(balance<0){
							td1.innerHTML=z.toFixed(2);
							td2.innerHTML=(balance*-1).toFixed(2);;
						}
						else{
							td1.innerHTML=balance.toFixed(2);
							td2.innerHTML=z.toFixed(2);
						}
						if(beginingBalance<0){
							td5.innerHTML=z.toFixed(2);
							td6.innerHTML=(beginingBalance*-1).toFixed(2);
						}
						else{
							td5.innerHTML=beginingBalance.toFixed(2);
							td6.innerHTML=z.toFixed(2);
						}
						totalBalanceDebit+=balance;
						totalBeginingBalanceDebit+=beginingBalance;
					}
					else if(majorAccounts[k].nature=="credit"){
						beginingBalance=majorAccounts[k].beginingCredit-majorAccounts[k].beginingDebit;
						balance=majorAccounts[k].credit-majorAccounts[k].debit;
						balance+=beginingBalance;
						if(balance<0){
							td1.innerHTML=(balance*-1).toFixed(2);
							td2.innerHTML=z.toFixed(2);
						}
						else{
							td1.innerHTML=z.toFixed(2);
							td2.innerHTML=balance.toFixed(2);
						}
						if(beginingBalance<0){
							td5.innerHTML=(beginingBalance*-1).toFixed(2);
							td6.innerHTML=z.toFixed(2);
						}
						else{
							td5.innerHTML=z.toFixed(2);
							td6.innerHTML=beginingBalance.toFixed(2);
						}
						totalBalanceCredit+=balance;
						totalBeginingBalanceCredit+=beginingBalance;
					}
					td3.innerHTML=majorAccounts[k].debit.toFixed(2);
					td4.innerHTML=majorAccounts[k].credit.toFixed(2);
					td7.innerHTML=majorAccounts[k].name;
					totalMovesDebit+=majorAccounts[k].debit;
					totalMovesCredit+=majorAccounts[k].credit;

					tr.appendChild(td1);
					tr.appendChild(td2);
					tr.appendChild(td3);
					tr.appendChild(td4);
					tr.appendChild(td5);
					tr.appendChild(td6);
					tr.appendChild(td7);
					trialBalanceTemplate.appendChild(tr);
				}
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				var td3=document.createElement("td");
				var td4=document.createElement("td");
				var td5=document.createElement("td");
				var td6=document.createElement("td");
				var td7=document.createElement("td");
				var td8=document.createElement("td");

				td1.innerHTML=totalBalanceDebit.toFixed(2);
				td2.innerHTML=totalBalanceCredit.toFixed(2);
				td3.innerHTML=totalMovesDebit.toFixed(2);
				td4.innerHTML=totalMovesCredit.toFixed(2);
				td5.innerHTML=totalBeginingBalanceDebit.toFixed(2);
				td6.innerHTML=totalBeginingBalanceCredit.toFixed(2);
				td7.innerHTML="الاجمالي";
				td1.style.backgroundColor="#ccc";
				td2.style.backgroundColor="#ccc";
				td3.style.backgroundColor="#ccc";
				td4.style.backgroundColor="#ccc";
				td5.style.backgroundColor="#ccc";
				td6.style.backgroundColor="#ccc";

				tr.appendChild(td1);
				tr.appendChild(td2);
				tr.appendChild(td3);
				tr.appendChild(td4);
				tr.appendChild(td5);
				tr.appendChild(td6);
				tr.appendChild(td7);

				trialBalanceTemplate.appendChild(tr);




				var reportDiv=document.createElement("div");
				reportDiv.style.width='100%';
				var intro=document.createElement("div");
				intro.style.textAlign="center";
				intro.dir="rtl";
				var title=document.createElement("h1");
				title.innerHTML="ميزان المراجعة";
				var fromDateP=document.createElement("p");
				fromDateP.innerHTML="من تاريخ : "+fromDate;
				fromDateP.className+="printedReporthead";
				var toDateP=document.createElement("p");
				toDateP.innerHTML="الى تاريخ : "+toDate;
				toDateP.className+="printedReporthead";

				var br=document.createElement("br");

				intro.appendChild(title);
				intro.appendChild(fromDateP);
				intro.appendChild(toDateP);
				intro.appendChild(br);
				reportDiv.appendChild(intro);
				reportDiv.appendChild(trialBalanceTemplate);
				reportDiv.id="temp";
				document.body.append(reportDiv);
				window.print();
				var temp = document.getElementById("temp");
				temp.parentNode.removeChild(temp);

			}
			else{alert(res.responseText);}


		});
	}


	return false;
}

//FPS

function getFPS(){
	var FPSDate=document.getElementById("FPSDate").value;
	if(FPSDate==""){alert("insert valid date!");}
	else{
		var obj={date:FPSDate};
		ajaxRequest("api/accountingReports/getBalances","POST","application/json",obj,(res)=>{
			if(res.status==200){
				//cloneing the template
				var FPSTemplate=document.getElementById("FPSTemplate");
				var FPSTemplate=FPSTemplate.cloneNode(true);
				FPSTemplate.style.display="table";

				//getting the data from the API

				var majorAccounts=JSON.parse(res.responseText);


				//handling the data


				var accounts={
					currentAssets:[],
					nonCurrentAssets:[],
					currentLiabilities:[],
					nonCurrentLiabilities:[],
					shareholdersEquity:[],
					revenues:[],
					expenses:[]
				}
				var keys=Object.keys(majorAccounts);
				for(var i=0;i<keys.length;i++){
					var key=keys[i];
					var type=majorAccounts[key].type;
					accounts[type].push(majorAccounts[key]);
				}
				//filling the template with data

				var revenuesTotal=0;

				for(var i=0;i<accounts.revenues.length;i++){
					var balance=666;
					var credit=accounts.revenues[i].credit;
					var debit=accounts.revenues[i].debit;
					var name=accounts.revenues[i].name;

					if(accounts.revenues[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}
				revenuesTotal+=balance;
			}


				var expensesTotal=0;

				for(var i=0;i<accounts.expenses.length;i++){
					var balance=666;
					var credit=accounts.expenses[i].credit;
					var debit=accounts.expenses[i].debit;
					var name=accounts.expenses[i].name;

					if(accounts.expenses[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}
					expensesTotal+=balance;
				}
				var profitAccount=revenuesTotal-expensesTotal;
				//hardcode .-.
				//non current Assets
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>الأصول غير المتداولة</strong>";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);

				var nonCurrentAssetsTotal=0;

				for(var i=0;i<accounts.nonCurrentAssets.length;i++){
					var balance=666;
					var credit=accounts.nonCurrentAssets[i].credit;
					var debit=accounts.nonCurrentAssets[i].debit;
					var name=accounts.nonCurrentAssets[i].name;

					if(accounts.nonCurrentAssets[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}

					nonCurrentAssetsTotal+=balance;

					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					td1.innerHTML=name;
					td2.innerHTML=balance.toFixed(2);
					tr.appendChild(td1);
					tr.appendChild(td2);
					FPSTemplate.appendChild(tr);
				}
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي الأصول غير المتداولة</strong>";
				td2.innerHTML=nonCurrentAssetsTotal.toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);


				//current Assets


				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>الأصول المتداولة</strong>";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);

				var currentAssetsTotal=0;

				for(var i=0;i<accounts.currentAssets.length;i++){
					var balance=666;
					var credit=accounts.currentAssets[i].credit;
					var debit=accounts.currentAssets[i].debit;
					var name=accounts.currentAssets[i].name;

					if(accounts.currentAssets[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}

					currentAssetsTotal+=balance;

					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					td1.innerHTML=name;
					td2.innerHTML=balance.toFixed(2);
					tr.appendChild(td1);
					tr.appendChild(td2);
					FPSTemplate.appendChild(tr);
				}
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي الأصول المتداولة</strong>";
				td2.innerHTML=currentAssetsTotal.toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);

				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي الأصول</strong>";
				td2.innerHTML=(currentAssetsTotal+nonCurrentAssetsTotal).toFixed(2);
				td2.style.backgroundColor="#ccc";

				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);



				//shareholdersEquity
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>حقوق المساهمين</strong>";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);

				var shareholdersEquityTotal=0;

				for(var i=0;i<accounts.shareholdersEquity.length;i++){
					var balance=666;
					var credit=accounts.shareholdersEquity[i].credit;
					var debit=accounts.shareholdersEquity[i].debit;
					var name=accounts.shareholdersEquity[i].name;

					if(accounts.shareholdersEquity[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}

					shareholdersEquityTotal+=balance;

					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					td1.innerHTML=name;
					td2.innerHTML=balance.toFixed(2);
					tr.appendChild(td1);
					tr.appendChild(td2);
					FPSTemplate.appendChild(tr);
				}
				//profit account

				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="صافي الربح";
				td2.innerHTML=profitAccount.toFixed(2);
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);
				shareholdersEquityTotal+=profitAccount;

				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي حقوق المساهمين</strong>";
				td2.innerHTML=shareholdersEquityTotal.toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);



				//non current Liabilites
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>الالتزامات  غير المتداولة</strong>";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);

				var nonCurrentLiabilitiesTotal=0;

				for(var i=0;i<accounts.nonCurrentLiabilities.length;i++){
					var balance=666;
					var credit=accounts.nonCurrentLiabilities[i].credit;
					var debit=accounts.nonCurrentLiabilities[i].debit;
					var name=accounts.nonCurrentLiabilities[i].name;

					if(accounts.nonCurrentLiabilities[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}

					nonCurrentLiabilitiesTotal+=balance;

					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					td1.innerHTML=name;
					td2.innerHTML=balance.toFixed(2);
					tr.appendChild(td1);
					tr.appendChild(td2);
					FPSTemplate.appendChild(tr);
				}
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي الالتزامات غير المتداولة</strong>";
				td2.innerHTML=nonCurrentLiabilitiesTotal.toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);




				//current Liabilites
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>الالتزامات المتداولة</strong>";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);

				var currentLiabilitiesTotal=0;

				for(var i=0;i<accounts.currentLiabilities.length;i++){
					var balance=666;
					var credit=accounts.currentLiabilities[i].credit;
					var debit=accounts.currentLiabilities[i].debit;
					var name=accounts.currentLiabilities[i].name;

					if(accounts.currentLiabilities[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}

					currentLiabilitiesTotal+=balance;

					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					td1.innerHTML=name;
					td2.innerHTML=balance.toFixed(2);
					tr.appendChild(td1);
					tr.appendChild(td2);
					FPSTemplate.appendChild(tr);
				}
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي الالتزامات المتداولة</strong>";
				td2.innerHTML=currentLiabilitiesTotal.toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);

				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي حقوق المساهمين و الالتزامات</strong>";
				td2.innerHTML=(currentLiabilitiesTotal+nonCurrentLiabilitiesTotal+shareholdersEquityTotal).toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				FPSTemplate.appendChild(tr);



				var reportDiv=document.createElement("div");
				reportDiv.style.width='100%';
				var intro=document.createElement("div");
				intro.style.textAlign="center";
				intro.dir="rtl";
				var title=document.createElement("h1");
				title.innerHTML="قائمة المركز المالي";
				var date=document.createElement("p");
				date.innerHTML="التاريخ : "+FPSDate;
				date.className+="printedReporthead";
				var br=document.createElement("br");

				intro.appendChild(title);
				intro.appendChild(date);
				intro.appendChild(br);
				reportDiv.appendChild(intro);
				reportDiv.appendChild(FPSTemplate);
				reportDiv.id="temp";
				document.body.append(reportDiv);
				window.print();
				var temp = document.getElementById("temp");
				temp.parentNode.removeChild(temp);

			}
			else{alert(res.responseText);}
		});
	}
	return false;
}


function getIS(){
	var fromDate=document.getElementById("ISFromDate").value;
	var toDate=document.getElementById("ISToDate").value;
	if(fromDate=="" || toDate==""){alert("insert valid date!");}
	else{
		var obj={fromDate:fromDate,toDate:toDate};
		ajaxRequest("api/accountingReports/getISBalances","POST","application/json",obj,(res)=>{
			if(res.status==200){
				//cloneing the template
				var ISTemplate=document.getElementById("ISTemplate");
				var ISTemplate=ISTemplate.cloneNode(true);
				ISTemplate.style.display="table";

				//getting the data from the API

				var majorAccounts=JSON.parse(res.responseText);


				//handling the data


				var accounts={
					currentAssets:[],
					nonCurrentAssets:[],
					currentLiabilities:[],
					nonCurrentLiabilities:[],
					shareholdersEquity:[],
					revenues:[],
					expenses:[]
				}
				var keys=Object.keys(majorAccounts);
				for(var i=0;i<keys.length;i++){
					var key=keys[i];
					var type=majorAccounts[key].type;
					accounts[type].push(majorAccounts[key]);
				}

				//filling the template with data

				//revenues
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>الايرادات</strong>";
				tr.appendChild(td1);
				tr.appendChild(td2);
				ISTemplate.appendChild(tr);

				var revenuesTotal=0;

				for(var i=0;i<accounts.revenues.length;i++){
					var balance=666;
					var credit=accounts.revenues[i].credit;
					var debit=accounts.revenues[i].debit;
					var name=accounts.revenues[i].name;

					if(accounts.revenues[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}

					revenuesTotal+=balance;

					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					td1.innerHTML=name;
					td2.innerHTML=balance.toFixed(2);
					tr.appendChild(td1);
					tr.appendChild(td2);
					ISTemplate.appendChild(tr);
				}
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي الايرادات</strong>";
				td2.innerHTML=revenuesTotal.toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				ISTemplate.appendChild(tr);




				//current Expenses
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>المصروفات</strong>";
				tr.appendChild(td1);
				tr.appendChild(td2);
				ISTemplate.appendChild(tr);

				var expensesTotal=0;

				for(var i=0;i<accounts.expenses.length;i++){
					var balance=666;
					var credit=accounts.expenses[i].credit;
					var debit=accounts.expenses[i].debit;
					var name=accounts.expenses[i].name;

					if(accounts.expenses[i].nature=="debit"){
						balance=debit-credit;
					}
					else{
						balance=credit-debit;
					}

					expensesTotal+=balance;

					var tr=document.createElement("tr");
					var td1=document.createElement("td");
					var td2=document.createElement("td");
					td1.innerHTML=name;
					td2.innerHTML=balance.toFixed(2);
					tr.appendChild(td1);
					tr.appendChild(td2);
					ISTemplate.appendChild(tr);
				}
				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>اجمالي المصروفات</strong>";
				td2.innerHTML=expensesTotal.toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				ISTemplate.appendChild(tr);

				var tr=document.createElement("tr");
				var td1=document.createElement("td");
				var td2=document.createElement("td");
				td1.innerHTML="<strong>صافي الدخل</strong>";
				td2.innerHTML=(revenuesTotal-expensesTotal).toFixed(2);
				td2.style.backgroundColor="#ccc";
				tr.appendChild(td1);
				tr.appendChild(td2);
				ISTemplate.appendChild(tr);




				var reportDiv=document.createElement("div");
				reportDiv.style.width='100%';
				var intro=document.createElement("div");
				intro.style.textAlign="center";
				intro.dir="rtl";
				var title=document.createElement("h1");
				title.innerHTML="قائمة الدخل";
				var fromDateP=document.createElement("p");
				fromDateP.innerHTML="من : "+fromDate;
				fromDateP.className+="printedReporthead";
				var toDateP=document.createElement("p");
				toDateP.innerHTML="الى : "+toDate;
				toDateP.className+="printedReporthead";

				var br=document.createElement("br");

				intro.appendChild(title);
				intro.appendChild(fromDateP);
				intro.appendChild(toDateP);
				intro.appendChild(br);
				reportDiv.appendChild(intro);
				reportDiv.appendChild(ISTemplate);
				reportDiv.id="temp";
				document.body.append(reportDiv);
				window.print();
				var temp = document.getElementById("temp");
				temp.parentNode.removeChild(temp);

			}
			else{alert(res.responseText);}
		});
	}
	return false;
}


</script>
</body>
</html>
