<!DOCTYPE html>
<html>
<title>Payment Request</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<style>

.sidenav {
  height: 100%;
  width: 23%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #001E3B;
  background-image: linear-gradient(#001E3B 0%, #001E3B 100%);
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav-cont{
  width: 90%;
  float: right;
}

.sidenav a, .dropdown-btn {

  text-decoration: none;
  font-size: 18px;
  color: white;
  opacity: 0.7;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom:1px solid #f3f3f3;
  opacity: 1;
  padding:4px;
}
.sidenav p{
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #CCCCCC;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
img{
  width: 50px;
  height: auto;
  vertical-align: middle;
  padding-right: 15px;
}

.active {
  background-color: rgba(95, 38, 255, 0.4);
  color: white;
  border-top-left-radius: 40px;
}

.active::after {
    font-weight: 900;
    display: inline-block;
    padding-right: 15px;
    font-size: 180%;
    color: #034171;
}

.dropdown-container {
  display: none;
  background-color: rgba(95, 38, 255, 0.4);
  opacity: 0.7;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidenav a:hover, .dropdown-btn:hover{
  color:#20639b;
  opacity: 1;
}
.active:hover{
  background-color: rgba(53, 164, 255, 0.6);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 0;
  opacity: 1;
}
.dropdown-container a:hover{
  background-color: rgba(53, 164, 255, 0.6);
  color:#fff;
  border-radius: 0;
  opacity: 1;
}
.dropdown-container a:last-child:hover{
}



.main {
  margin-left:24%; 
}
.sidenav .unactive{
	  background:none;
	  opacity: 1;

}
.requestGo{
	background-color: #1fc8db;
	padding:10px 20px;

}
.ybutton{
	display:inline-block;
	background-color:rgba(53, 164, 255, 0.6);

}
.tabsec{background-color:#f3f3f3;padding:10px;border-radius:14px;}
.unactive{background:#173f5f;}


table,th,td{
	border:none;
	padding:0px;
	margin:0;
	text-align:center;
}
#temp table{text-align:right;}
#temp td{text-align:right;padding:12px;}
#temp{visibility: hidden;width:99%;display:none;}

.printedReporthead{display:inline-block;margin:15px;}
@media print {
  body * {
    visibility: hidden;
  }
  #temp, #temp * {
    visibility: visible;
  }
  #temp{
    position: absolute;
    left: 0;
    top: 0;
    
  }
}
a{background-color:#20639b;}
.y{padding:10px;padding-left:30px;padding-right:30px;margin:0;cursor:pointer;color:#fff;}
.y:hover{background-color:#20639b;}
.canNotEdit{border:1px solid #20639b;}
.canNotEdit:hover{border:1px solid #20639b;}
button{margin:0;}
</style>
<body>
<div class="sidenav">
  <div class="sidenav-cont" id="menu">
	  <p>Geekions</p>
	  <a class="dropdown-btn unactive">System Settings<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="accountPage" >Accounts</a>
		  <a href="currency" >Currencies</a>
		  <a href="user" >Users</a>
		  <a href="employer" >Employers</a>
	  </div>
	  <a class="dropdown-btn unactive">Daily Entries<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="dailyEntry" >Daily Entry</a>
		  <a href="receiveEntry" >Recieve Entry</a>
		  <a href="paymentEntry" >Payment Entry</a>
	  </div>
	  <a class="dropdown-btn unactive">Requests<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="receiveRequest" >Recieve Request</a>
		  <a href="paymentRequest" >Payment Request</a>
		  <a href="requests" >Pending Requests</a>
	  </div>
	  <a class="dropdown-btn unactive">Airline Movement<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="ticketEntry" >BSP Ticket</a>
		  <a href="lowcostticketEntry" >Lowcost Ticket</a>
	  </div>
	  <a class="dropdown-btn unactive">Reports<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="reports" >Accounting Reports</a>
		  <a href="bspReports" >BSP Reports</a>
		  <a href="lowcostReports" >Lowcost Reports</a>
	  </div>
	  <a href="logout">Logout</a>
  </div>
</div>

<div class="main" id="container">
<section id="content-tab1">
		<div style="background-color:#173f5f;border-radius:5px;padding:10px;">
			<a class="y" id="tab1-add">Add <i class="fas fa-plus-circle"></i></a>
			<a class="y unactive" id="tab1-edit">Edit <i class="fas fa-sync-alt"></i></a>
			<a class="y unactive" id="tab1-delete">Delete <i class="fas fa-trash-alt"></i></a>
			<a class="y unactive" id="tab1-print">Show <i class="fas fa-file"></i></a>
		</div>
		<section id="add" class="tabsec">
			<h1 style="text-align:Center;">Payment Request</h1>
			<form>
			<table>
			   <tr>
				<td>
				    <p>Client Name</p>
				</td>
				<td>
				    <input type="text" id="addClientName"/>
				</td>
				<td>
				    <p>Date</p>
				</td>
				<td>
				    <input type="date" id="addDate" class="date canNotEdit" readonly/>
				</td>	
			    </tr>
				    <tr>
					<td>
					    <p>Request Number</p>
					</td>
					<td>
					    <input type="text" id="requestNumber" readonly class="canNotEdit"/>
					</td>
				    </tr>
			    <tr>
				<td>
				    <p>Amount</p>
				</td>
				<td>
				    <input type="Number" id="addAmount"/>
				</td>
			    </tr>
			    <tr>
				<td>
				    <p>Description</p>
				</td>
				<td colspan="6">
				    <input type="text" style="width:100%;" id="addDescription"/>
				</td>

			    </tr>
			    <tr>
				<td><p>Execution Date</p></td>
				<td style="text-align:left;"><input type="date" id="addExecutionDate"/></td>
				<td><p>End Date</p></td>
				<td style="text-align:left;"><input type="date" id="addEndDate"/></td>
			    </tr>
			    <tr>
				<td><p>Total Amount</p></td>
				<td><input type="number" id="addTotalAmount"/></td>
				<td><p>Remaining Amount</p></td>
				<td><input type="number" id="addRemainingAmount"/></td>
			    </tr>
			    <tr>
				<td><p>Execution Price</p></td>
				<td><input type="number" id="addExecutionPrice"/></td>
				<td><p>Execution Company</p></td>
				<td><input type="text" id="addExecutionCompany"/></td>
			    </tr>
			    <tr>
				<td>
				    <p>User</p>
				</td>
				<td>
				    <input type="text" value="<%=user.username%>" class="canNotEdit"readonly/>
				</td>
			    </tr>
			    <tr>
				    <td><button class="button" onClick="return addRequest();">Add</button></td>
			   </tr>
			</table>
			</form>
		</section>



		<!--edit section-->



		<section id="edit" class="tabsec" style="display:none;">
			<h1 style="text-align:Center;">Payment Request</h1>
			<form>
			<table>
			   <tr>
				<td>
				    <p>Client Name</p>
				</td>
				<td>
				    <input type="text" id="editClientName"/>
				</td>
				<td>
				    <p>Date</p>
				</td>
				<td>
				    <input type="date" id="editDate" class="date canNotEdit" readonly/>
				</td>	
			    </tr>
				    <tr>
					<td>
					    <p>Request Number</p>
					</td>
					<td>
					    <input type="text" id="editRequestNumber" onchange="editShow()"/>
					</td>
				    </tr>
			    <tr>
				<td>
				    <p>Amount</p>
				</td>
				<td>
				    <input type="Number" id="editAmount"/>
				</td>
			    </tr>
			    <tr>
				<td>
				    <p>Description</p>
				</td>
				<td colspan="6">
				    <input type="text" style="width:100%;" id="editDescription"/>
				</td>

			    </tr>
			    <tr>
				<td><p>Execution Date</p></td>
				<td style="text-align:left;"><input type="date" id="editExecutionDate"/></td>
				<td><p>End Date</p></td>
				<td style="text-align:left;"><input type="date" id="editEndDate"/></td>
			    </tr>
			    <tr>
				<td><p>Total Amount</p></td>
				<td><input type="number" id="editTotalAmount"/></td>
				<td><p>Remaining Amount</p></td>
				<td><input type="number" id="editRemainingAmount"/></td>
			    </tr>
			    <tr>
				<td><p>Execution Price</p></td>
				<td><input type="number" id="editExecutionPrice"/></td>
				<td><p>Execution Company</p></td>
				<td><input type="text" id="editExecutionCompany"/></td>
			    </tr>
			    <tr>
				<td>
				    <p>User</p>
				</td>
				<td>
				    <input type="text" value="" id="editUser"/>
				</td>
			    </tr>
			    <tr>
				    <td><button class="button" onClick="return edit();">Edit</button></td>
			   </tr>
			</table>
			</form>
		</section>
		<!--Delete-->
		<section id="delete" class="tabsec" style="display:none;">
			<h1 style="text-align:Center;">Payment Request</h1>
			<form>
			<table>
			   <tr>
				<td>
				    <p>Client Name</p>
				</td>
				<td>
				    <input type="text" id="deleteClientName" readonly class="canNotEdit"/>
				</td>
				<td>
				    <p>Date</p>
				</td>
				<td>
				    <input type="date" id="deleteDate" class="date canNotEdit" readonly/>
				</td>	
			    </tr>
				    <tr>
					<td>
					    <p>Request Number</p>
					</td>
					<td>
					    <input type="text" id="deleteRequestNumber" onchange="deleteShow()"/>
					</td>
				    </tr>
			    <tr>
				<td>
				    <p>Amount</p>
				</td>
				<td>
				    <input type="Number" id="deleteAmount" readonly class="canNotEdit"/>
				</td>
			    </tr>
			    <tr>
				<td>
				    <p>Description</p>
				</td>
				<td colspan="6">
				    <input type="text" style="width:100%;" id="deleteDescription"readonly class="canNotEdit"/>
				</td>

			    </tr>
			    <tr>
				<td><p>Execution Date</p></td>
				<td style="text-align:left;"><input type="date" id="deleteExecutionDate" readonly class="canNotEdit"/></td>
				<td><p>End Date</p></td>
				<td style="text-align:left;"><input type="date" id="deleteEndDate" readonly class="canNotEdit"/></td>
			    </tr>
			    <tr>
				<td><p>Total Amount</p></td>
				<td><input type="number" id="deleteTotalAmount" readonly class="canNotEdit"/></td>
				<td><p>Remaining Amount</p></td>
				<td><input type="number" id="deleteRemainingAmount" readonly class="canNotEdit"/></td>
			    </tr>
			    <tr>
				<td><p>Execution Price</p></td>
				<td><input type="number" id="deleteExecutionPrice" readonly class="canNotEdit"/></td>
				<td><p>Execution Company</p></td>
				<td><input type="text" id="deleteExecutionCompany" readonly class="canNotEdit"/></td>
			    </tr>
			    <tr>
				<td>
				    <p>User</p>
				</td>
				<td>
				    <input type="text" value="" id="deleteUser" readonly class="canNotEdit"/>
				</td>
			    </tr>
			    <tr>
				    <td><button class="button" onClick="return deleteRequest();">Delete</button></td>
			   </tr>
			</table>
			</form>
		</section>
		<!--Print-->
		<section id="print" class="tabsec" style="display:none;">
			<h1 style="text-align:Center;">Payment Request</h1>
			<form>
			<table>
			   <tr>
				<td>
				    <p>Client Name</p>
				</td>
				<td>
				    <input type="text" id="showClientName" readonly class="canNotEdit"/>
				</td>
				<td>
				    <p>Date</p>
				</td>
				<td>
				    <input type="date" id="showDate" class="date canNotEdit" readonly/>
				</td>	
			    </tr>
				    <tr>
					<td>
					    <p>Request Number</p>
					</td>
					<td>
					    <input type="text" id="showRequestNumber" onchange="showShow()"/>
					</td>
				    </tr>
			    <tr>
				<td>
				    <p>Amount</p>
				</td>
				<td>
				    <input type="Number" id="showAmount" readonly class="canNotEdit"/>
				</td>
			    </tr>
			    <tr>
				<td>
				    <p>Description</p>
				</td>
				<td colspan="6">
				    <input type="text" style="width:100%;" id="showDescription"readonly class="canNotEdit"/>
				</td>

			    </tr>
			    <tr>
				<td><p>Execution Date</p></td>
				<td style="text-align:left;"><input type="date" id="showExecutionDate" readonly class="canNotEdit"/></td>
				<td><p>End Date</p></td>
				<td style="text-align:left;"><input type="date" id="showEndDate" readonly class="canNotEdit"/></td>
			    </tr>
			    <tr>
				<td><p>Total Amount</p></td>
				<td><input type="number" id="showTotalAmount" readonly class="canNotEdit"/></td>
				<td><p>Remaining Amount</p></td>
				<td><input type="number" id="showRemainingAmount" readonly class="canNotEdit"/></td>
			    </tr>
			    <tr>
				<td><p>Execution Price</p></td>
				<td><input type="number" id="showExecutionPrice" readonly class="canNotEdit"/></td>
				<td><p>Execution Company</p></td>
				<td><input type="text" id="showExecutionCompany" readonly class="canNotEdit"/></td>
			    </tr>
			    <tr>

				<td>
				    <p>User</p>
				</td>
				<td>
				    <input type="text" value="" id="showUser" readonly class="canNotEdit"/>
				</td>
			    </tr>
			    <tr>
				    <td><button class="button" onClick="return printShow();">Print</button></td>
			   </tr>
			</table>
			</form>
		</section>	
</section>
</div>
<div style="text-align:Center;margin:auto;display:none;width:99%;" dir="rtl" id="temp">
	<img src="/static/images/img.png" style="width:100%;height:100px;margin-bottom:5px;"/>
	<table style="width:100%;padding-bottom:40px;border:2px solid #000;border-collapse:collapse;">
		<tr>
			<td colspan="3" style="border:2px solid #000;padding:10px;text-align:center;" id="cashTable"><p style="font-size:25px;">اذن صرف</p></td>
		</tr>
		<tr>
			<td colspan="2" style="border:2px solid #000;padding:10px;" id="printClientName">اسم العميل : 4</td>
			<td colspan="2" style="border:2px solid #000;padding:10px;" id="printDate">التاريخ : 20/12/2019</td>
		</tr>
		<tr>
			<td colspan="4" style="border:2px solid #000;padding:15px;" id="printAmount">القيمة الموردة : 20/12/2019</td>
		</tr>

		<tr>
			<td colspan="4" style="border:2px solid #000;padding:15px;" id="printDescription">
				البيان و نوع الخدمة : طيران العربية
			</td>
		</tr>
		<tr>
			<td colspan="2" id="printExecutionDate" style="border:2px solid #000;padding:10px;">تاريخ تنفيذ الخدمة : 10000</td>
			<td colspan="2" id="printEndDate" style="border:2px solid #000;padding:10px;">تاريخ نهاية الخدمة: 10000</td>
		</tr>
		<tr>
			<td colspan="2" id="printTotalAmount" style="border:2px solid #000;padding:10px;">المبلغ الاجمالي : 10000</td>
			<td colspan="2" id="printRemainingAmount" style="border:2px solid #000;padding:10px;">المبلغ المتبقي: 10000</td>
		</tr>
		<tr>
			<td colspan="2" id="printExecutionPrice" style="border:2px solid #000;padding:15px;">سعر التنفيذ : 33</td>
			<td colspan="2" id="printExecutionCompany" style="border:2px solid #000;padding:15px;">شركة التنفيذ : 33</td>
		</tr>
		<tr>
			<td colspan="2" id="printRequestNumber" style="border:2px solid #000;padding:15px;" colspan="4">رقم الطلب :</td>
			<td colspan="2" id="printEmployer" style="border:2px solid #000;padding:15px;">اسم الموظف :  Mazen</td>	
		</tr>
	</table>
</div>



<script src="/static/jquery-min.js"></script>
<script src="/static/frontendlib.js"></script>

<!--jquery for sidebar bardo-->
<script>
$(document).ready(function(){
        $('.date').val(new Date().toISOString().substr(0, 10));
	$(".y").click(function(){
		var id=$(this).attr("id");
		id=id.split('-');
		console.log(id);
		$("#content-"+id[0]+" section").hide();
		$(this).removeClass("unactive").siblings().addClass("unactive");
		$("#content-"+id[0]+" #"+id[1]).fadeIn(1000);
	});
});
</script>
<!--vainlia javascript-->
<script>
function addRequest(){
	var executionDate=document.getElementById("addExecutionDate").value;
	var endDate=document.getElementById("addEndDate").value;
	var executionPrice=document.getElementById("addExecutionPrice").value;
	var amount=document.getElementById("addAmount").value;
	var totalAmount=document.getElementById("addTotalAmount").value;
	var remainingAmount=document.getElementById("addRemainingAmount").value;
	var clientName=document.getElementById("addClientName").value;
	var description=document.getElementById("addDescription").value;
	var executionCompany=document.getElementById("addExecutionCompany").value;
	//check
	if(executionDate==""||endDate==""||executionPrice==""||isNaN(amount)||isNaN(totalAmount)||isNaN(remainingAmount)||clientName==""||description==""){
		alert("You Can't leave blank inputs!");
	}
	else{
	var requestBody={};
	requestBody.executionDate=executionDate;
	requestBody.endDate=endDate;
	requestBody.executionPrice=executionPrice;
	requestBody.executionCompany=executionCompany;
	requestBody.amount=amount;
	requestBody.totalAmount=totalAmount;
	requestBody.remainingAmount=remainingAmount;
	requestBody.clientName=clientName;
	requestBody.description=description;
	var reqObj={};
	reqObj.requestBody=requestBody;
	reqObj.type="paymentRequest";
	ajaxRequest('request/insert',"POST","application/json",reqObj,(res)=>{
		if(res.status=="200"){
			res=JSON.parse(res.responseText);
			alert("Request has been added successfully!");
			if(window.confirm("Do you want to print it ?")){
				var requestBody=JSON.parse(res.requestBody);
				var date=new Date(res.date).toLocaleString().split(',');
				var time=date[1];
				date=date[0];
				date=date.split('/');
				date=date[2]+'-'+date[1]+'-'+date[0];
				var temp=document.getElementById("temp");
				temp.style.display="block";
				var printClientName=document.getElementById("printClientName");
				printClientName.innerHTML="اسم العميل : "+requestBody.clientName;
				var dateTable=document.getElementById("printDate");
				dateTable.innerHTML="التاريخ : "+new Date(res.date).toLocaleString().split(',')[0];
				var printDescription=document.getElementById("printDescription");
				printDescription.innerHTML="البيان و نوع الخدمة : "+requestBody.description;
				var printAmount=document.getElementById("printAmount");
				printAmount.innerHTML="القيمة المصروفة : "+requestBody.amount;
				var printRemainingAmount=document.getElementById("printRemainingAmount");
				printRemainingAmount.innerHTML="المبلغ المتبقي : "+requestBody.remainingAmount;
				var printTotalAmount=document.getElementById("printTotalAmount");
				printTotalAmount.innerHTML="المبلغ الاجمالي : "+requestBody.totalAmount;
				var printExecutionPrice=document.getElementById("printExecutionPrice");
				printExecutionPrice.innerHTML="مبلغ التنفيذ : "+requestBody.executionPrice;
				var printEmployer=document.getElementById("printEmployer");
				printEmployer.innerHTML="اسم الموظف : "+"<%=user.username%>";
				var printExecutionDate=document.getElementById("printExecutionDate");
				printExecutionDate.innerHTML="تاريخ التنفيد : "+new Date(requestBody.executionDate).toLocaleString().split(',')[0];
				var printEndDate=document.getElementById("printEndDate");
				printEndDate.innerHTML="تاريخ نهاية الخدمة : "+new Date(requestBody.endDate).toLocaleString().split(',')[0];
				var printRequestNumber=document.getElementById("printRequestNumber");
				printRequestNumber.innerHTML="رقم الطلب :"+res.betterId;
				window.print();
				temp.style.display="none";
			}
		}
		else{
			alert(res.responseText);
		}
	});
	}
	return false;
}
function editShow(){
	var user=document.getElementById("editUser");
	var executionDate=document.getElementById("editExecutionDate");
	var endDate=document.getElementById("editEndDate");
	var executionPrice=document.getElementById("editExecutionPrice");
	var amount=document.getElementById("editAmount");
	var totalAmount=document.getElementById("editTotalAmount");
	var remainingAmount=document.getElementById("editRemainingAmount");
	var clientName=document.getElementById("editClientName");
	var description=document.getElementById("editDescription");
	var executionCompany=document.getElementById("editExecutionCompany");
	var editRequestNumber=document.getElementById("editRequestNumber").value;
	ajaxRequest('request/getRequest',"POST","application/json",{betterId:editRequestNumber},(res)=>{
		if(res.status==200){
			res=JSON.parse(res.responseText);
			if(res.type!="paymentRequest"){
				alert("Request Not Found!");
				executionPrice.value=0;
				amount.value=0;
				totalAmount.value=0;
				remainingAmount.value=0;
				clientName.value="";
				description.value="";
				executionDate.value="";
				endDate.value="";
				user.value="";
				executionCompany.value="";
			}
			else{
				var requestBody=JSON.parse(res.requestBody);
				var date=new Date(requestBody.executionDate).toLocaleString().split(',');
				var time=date[1];
				date=date[0];
				date=date.split('/');
				date=date[2]+'-'+date[1]+'-'+date[0];
				var date2=new Date(requestBody.endDate).toLocaleString().split(',');
				var time=date2[1];
				date2=date2[0];
				date2=date2.split('/');
				date2=date2[2]+'-'+date2[1]+'-'+date2[0];
				executionDate.value=date;
				endDate.value=date2;
				executionPrice.value=requestBody.executionPrice;
				amount.value=requestBody.amount;
				totalAmount.value=requestBody.totalAmount;
				remainingAmount.value=requestBody.remainingAmount;
				clientName.value=requestBody.clientName;
				description.value=requestBody.description;
				user.value=res.employer.username;
				executionCompany.value=requestBody.executionCompany;
			}
		
		}
		else{
			alert(res.responseText);
			executionPrice.value=0;
			amount.value=0;
			totalAmount.value=0;
			remainingAmount.value=0;
			clientName.value="";
			description.value="";
			executionDate.value="";
			endDate.value="";
			user.value="";
			executionCompany.value="";

		}

	});
	

}
function showShow(){
	var user=document.getElementById("showUser");
	var executionDate=document.getElementById("showExecutionDate");
	var endDate=document.getElementById("showEndDate");
	var executionPrice=document.getElementById("showExecutionPrice");
	var amount=document.getElementById("showAmount");
	var totalAmount=document.getElementById("showTotalAmount");
	var remainingAmount=document.getElementById("showRemainingAmount");
	var clientName=document.getElementById("showClientName");
	var description=document.getElementById("showDescription");
	var executionCompany=document.getElementById("showExecutionCompany");
	var showRequestNumber=document.getElementById("showRequestNumber").value;
	ajaxRequest('request/getRequest',"POST","application/json",{betterId:showRequestNumber},(res)=>{
		if(res.status==200){
			res=JSON.parse(res.responseText);
			if(res.type!="paymentRequest"){
				alert("Request Not Found!");
				executionPrice.value=0;
				amount.value=0;
				totalAmount.value=0;
				remainingAmount.value=0;
				clientName.value="";
				description.value="";
				executionDate.value="";
				endDate.value="";
				user.value="";
				executionCompany.value="";
			}
			else{
				var requestBody=JSON.parse(res.requestBody);
				var date=new Date(requestBody.executionDate).toLocaleString().split(',');
				var time=date[1];
				date=date[0];
				date=date.split('/');
				date=date[2]+'-'+date[1]+'-'+date[0];
				var date2=new Date(requestBody.endDate).toLocaleString().split(',');
				var time=date2[1];
				date2=date2[0];
				date2=date2.split('/');
				date2=date2[2]+'-'+date2[1]+'-'+date2[0];
				executionDate.value=date;
				endDate.value=date2;
				executionPrice.value=requestBody.executionPrice;
				amount.value=requestBody.amount;
				totalAmount.value=requestBody.totalAmount;
				remainingAmount.value=requestBody.remainingAmount;
				clientName.value=requestBody.clientName;
				description.value=requestBody.description;
				user.value=res.employer.username;
				executionCompany.value=requestBody.executionCompany;
			}
		
		}
		else{
			alert(res.responseText);
			executionPrice.value=0;
			amount.value=0;
			totalAmount.value=0;
			remainingAmount.value=0;
			clientName.value="";
			description.value="";
			executionDate.value="";
			endDate.value="";
			user.value="";
			executionCompany.value="";

		}

	});
}
function deleteShow(){
	var user=document.getElementById("deleteUser");
	var executionDate=document.getElementById("deleteExecutionDate");
	var endDate=document.getElementById("deleteEndDate");
	var executionPrice=document.getElementById("deleteExecutionPrice");
	var amount=document.getElementById("deleteAmount");
	var totalAmount=document.getElementById("deleteTotalAmount");
	var remainingAmount=document.getElementById("deleteRemainingAmount");
	var clientName=document.getElementById("deleteClientName");
	var description=document.getElementById("deleteDescription");
	var executionCompany=document.getElementById("deleteExecutionCompany");
	var deleteRequestNumber=document.getElementById("deleteRequestNumber").value;
	ajaxRequest('request/getRequest',"POST","application/json",{betterId:deleteRequestNumber},(res)=>{
		if(res.status==200){
			res=JSON.parse(res.responseText);
			if(res.type!="paymentRequest"){
				alert("Request Not Found!");
				executionPrice.value=0;
				amount.value=0;
				totalAmount.value=0;
				remainingAmount.value=0;
				clientName.value="";
				description.value="";
				executionDate.value="";
				endDate.value="";
				user.value="";
				executionCompany.value="";
			}
			else{
				var requestBody=JSON.parse(res.requestBody);
				var date=new Date(requestBody.executionDate).toLocaleString().split(',');
				var time=date[1];
				date=date[0];
				date=date.split('/');
				date=date[2]+'-'+date[1]+'-'+date[0];
				var date2=new Date(requestBody.endDate).toLocaleString().split(',');
				var time=date2[1];
				date2=date2[0];
				date2=date2.split('/');
				date2=date2[2]+'-'+date2[1]+'-'+date2[0];
				executionDate.value=date;
				endDate.value=date2;
				executionPrice.value=requestBody.executionPrice;
				amount.value=requestBody.amount;
				totalAmount.value=requestBody.totalAmount;
				remainingAmount.value=requestBody.remainingAmount;
				clientName.value=requestBody.clientName;
				description.value=requestBody.description;
				user.value=res.employer.username;
				executionCompany.value=requestBody.executionCompany;
			}
		
		}
		else{
			alert(res.responseText);
			executionPrice.value=0;
			amount.value=0;
			totalAmount.value=0;
			remainingAmount.value=0;
			clientName.value="";
			description.value="";
			executionDate.value="";
			endDate.value="";
			user.value="";
			executionCompany.value="";

		}

	});
}
function edit(){
	var editRequestNumber=document.getElementById("editRequestNumber").value;
	var executionDate=document.getElementById("editExecutionDate").value;
	var endDate=document.getElementById("editEndDate").value;
	var executionPrice=document.getElementById("editExecutionPrice").value;
	var amount=document.getElementById("editAmount").value;
	var totalAmount=document.getElementById("editTotalAmount").value;
	var remainingAmount=document.getElementById("editRemainingAmount").value;
	var clientName=document.getElementById("editClientName").value;
	var description=document.getElementById("editDescription").value;
	var executionCompany=document.getElementById("editExecutionCompany").value;
	var type="paymentRequest";
	if(executionDate==""||endDate==""||executionPrice==""||isNaN(amount)||isNaN(totalAmount)||isNaN(remainingAmount)||clientName==""||description==""){
		alert("You Can't leave blank inputs!");
	}
	else{
	var requestBody={};
	requestBody.executionDate=executionDate;
	requestBody.endDate=endDate;
	requestBody.executionPrice=executionPrice;
	requestBody.amount=amount;
	requestBody.totalAmount=totalAmount;
	requestBody.remainingAmount=remainingAmount;
	requestBody.clientName=clientName;
	requestBody.description=description;
	requestBody.executionCompany=executionCompany;
	var obj={
		requestBody:requestBody,
		betterId:editRequestNumber,
		type:type
	}
	
	ajaxRequest('request/update',"POST","application/json",obj,(res)=>{
		alert(res.responseText);
	});
	}
	return false;
}
function deleteRequest(){
	var deleteRequestNumber=document.getElementById("deleteRequestNumber").value;
	var type="paymentRequest";
	if(window.confirm("Are you sure that you want to delete it?")){
		ajaxRequest('request/delete',"POST","application/json",{betterId:deleteRequestNumber,type:type},(res)=>{
			alert(res.responseText);
		});
	}
	return false;
}
function printShow(){
	var showRequestNumber=document.getElementById("showRequestNumber").value;
	ajaxRequest('request/getRequest',"POST","application/json",{betterId:showRequestNumber},(res)=>{
		if(res.status!=200){
				alert(res.responseText);}
		else{
			res=JSON.parse(res.responseText);
			if(res.type=="paymentRequest"){
				var requestBody=JSON.parse(res.requestBody);
				var date=new Date(res.date).toLocaleString().split(',');
				var time=date[1];
				date=date[0];
				date=date.split('/');
				date=date[2]+'-'+date[1]+'-'+date[0];
				var temp=document.getElementById("temp");
				temp.style.display="block";
				var printClientName=document.getElementById("printClientName");
				printClientName.innerHTML="اسم العميل : "+requestBody.clientName;
				var dateTable=document.getElementById("printDate");
				dateTable.innerHTML="التاريخ : "+new Date(res.date).toLocaleString().split(',')[0];
				var printDescription=document.getElementById("printDescription");
				printDescription.innerHTML="البيان و نوع الخدمة : "+requestBody.description;
				var printAmount=document.getElementById("printAmount");
				printAmount.innerHTML="القيمة المصروفة : "+requestBody.amount;
				var printRemainingAmount=document.getElementById("printRemainingAmount");
				printRemainingAmount.innerHTML="المبلغ المتبقي : "+requestBody.remainingAmount;
				var printTotalAmount=document.getElementById("printTotalAmount");
				printTotalAmount.innerHTML="المبلغ الاجمالي : "+requestBody.totalAmount;
				var printExecutionPrice=document.getElementById("printExecutionPrice");
				printExecutionPrice.innerHTML="مبلغ التنفيذ : "+requestBody.executionPrice;
				var printEmployer=document.getElementById("printEmployer");
				printEmployer.innerHTML="اسم الموظف : "+res.employer.username;
				var printExecutionDate=document.getElementById("printExecutionDate");
				printExecutionDate.innerHTML="تاريخ التنفيد : "+new Date(requestBody.executionDate).toLocaleString().split(',')[0];
				var printExecutionCompany=document.getElementById("printExecutionCompany");
				printExecutionCompany.innerHTML="شركة التنفيد : "+requestBody.executionCompany;
				var printEndDate=document.getElementById("printEndDate");
				printEndDate.innerHTML="تاريخ نهاية الخدمة : "+new Date(requestBody.endDate).toLocaleString().split(',')[0];
				var printRequestNumber=document.getElementById("printRequestNumber");
				printRequestNumber.innerHTML="رقم الطلب :"+res.betterId;
				window.print();
				temp.style.display="none";
			}
			else{
				alert("Request Not Found!");
			}
		}

	});
	return false;
}

//sidebar things

var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
	  this.classList.toggle("active");
	  var dropdownContent = this.nextElementSibling;
	  dropdownContent.classList.remove("unactive");
	  if (dropdownContent.style.display === "block") {
		  dropdownContent.style.display = "none";
		
	  } else {
	  dropdownContent.style.display = "block";
	  }
  });
}
</script>
</body>
</html>
