<!DOCTYPE html>
<html>
<title>Requests</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/sidenavStyle.css">
<link rel="stylesheet" href="/static/topbarStyle.css">

<style>


table,th,td{
	border:none;
	padding:0px;
	margin:0;
	text-align:center;
}
#temp table{text-align:right;}
#temp td{text-align:right;}
#temp{visibility: hidden;width:99%;display:none;}

.printedReporthead{display:inline-block;margin:15px;}
@media print {
  body * {
    visibility: hidden;
  }
  #temp, #temp * {
    visibility: visible;
  }
  #temp{
    position: absolute;
    left: 0;
    top: 0;

  }
}
</style>
<body>
  <%-include('sidenav.ejs')%>

<div class="main" id="container">
<section id="content-tab1">
		<div style="background-color:#173f5f;border-radius:5px;padding:10px;">
			<a class="y" id="tab1-add">Pending Requests</a>
		</div>
		<section id="add" class="tabsec">
			<h1 style="text-align:center;">Pending Requests</h1>
			<table>
			<%for(var i=0;i<rows.length;i++){%>
			<tr>
			<td>
			<a href="/request/<%=rows[i]['id']%>" style="display:inline-block;background:none;">
				<h3 style="display:inline-block;"><%=rows[i]["type"]%></h3>
			</a>
			</td>
			<td>
			<h3 style="display:inline-block;">From : <%=rows[i]["employerUserAccount"].username%></h3>
			</td>
			<tr>
			<%}%>
			</table>
		</section>
</section>
</div>



<script src="/static/jquery-min.js"></script>
<script src="/static/frontendlib.js"></script>
<script src="/static/topbarFunction.js"></script>

<!--jquery for sidebar bardo-->
<!--vainlia javascript-->
<script>
function deleteRequest(){
	var deleteRequestNumber=document.getElementById("deleteRequestNumber").value;
	ajaxRequest('request/delete',"POST","application/json",{betterId:deleteRequestNumber},(res)=>{
		alert(res.responseText);
	});
	return false;
}
function printShow(){
	var showRequestNumber=document.getElementById("showRequestNumber").value;
	ajaxRequest('request/getRequest',"POST","application/json",{betterId:showRequestNumber},(res)=>{
		if(res.status!=200){
				alert(res.responseText);}
		else{
			res=JSON.parse(res.responseText);
			if(res.type=="receiveRequest"){
				var requestBody=JSON.parse(res.requestBody);
				var date=new Date(res.date).toLocaleString().split(',');
				var time=date[1];
				date=date[0];
				date=date.split('/');
				date=date[2]+'-'+date[1]+'-'+date[0];
				var temp=document.getElementById("temp");
				temp.style.display="block";
				var printClientName=document.getElementById("printClientName");
				printClientName.innerHTML="<strong>اسم العميل : </strong>"+requestBody.clientName;
				var dateTable=document.getElementById("printDate");
				dateTable.innerHTML="<strong>التاريخ : </strong>"+new Date(res.date).toLocaleString().split(',')[0];
				var printDescription=document.getElementById("printDescription");
				printDescription.innerHTML="<strong>البيان و نوع الخدمة : </strong>"+requestBody.description;
				var printAmount=document.getElementById("printAmount");
				printAmount.innerHTML="<strong>القيمة الموردة : </strong>"+requestBody.amount;
				var printRemainingAmount=document.getElementById("printRemainingAmount");
				printRemainingAmount.innerHTML="<strong>المبلغ المتبقي : </strong>"+requestBody.remainingAmount;
				var printTotalAmount=document.getElementById("printTotalAmount");
				printTotalAmount.innerHTML="<strong>المبلغ الاجمالي : </strong>"+requestBody.totalAmount;
				var printExecutionPrice=document.getElementById("printExecutionPrice");
				printExecutionPrice.innerHTML="<strong>مبلغ التنفيذ : </strong>"+requestBody.executionPrice;
				var printEmployer=document.getElementById("printEmployer");
				printEmployer.innerHTML="<strong>اسم الموظف : </strong>"+res.employer.username;
				var printExecutionDate=document.getElementById("printExecutionDate");
				printExecutionDate.innerHTML="<strong>تاريخ التنفيد : </strong>"+new Date(requestBody.executionDate).toLocaleString().split(',')[0];
				var printEndDate=document.getElementById("printEndDate");
				printEndDate.innerHTML="<strong>تاريخ نهاية الخدمة : </strong>"+new Date(requestBody.endDate).toLocaleString().split(',')[0];
				window.print();
			}
			else{
				alert("Request Not Found!");
			}
		}

	});
	return false;
}

</script>
</body>
</html>
