<div class="sidenav">
  <div class="sidenav-cont" id="menu" style="text-align:Center;">
    <img src="/static/images/geekions.png" style="width:auto;height:100px;margin-right:10%;"/>
	  <a class="dropdown-btn unactive">System Settings<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="accountPage" >Accounts</a>
		  <a href="currency" >Currencies</a>
		  <a href="user" >Users</a>
		  <a href="employer" >Employers</a>
	  </div>
	  <a class="dropdown-btn unactive">Daily Entries<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="dailyEntry" >Daily Entry</a>
		  <a href="receiveEntry" >Recieve Entry</a>
		  <a href="paymentEntry" >Payment Entry</a>
	  </div>
	  <a class="dropdown-btn unactive">Requests<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="receiveRequest" >Recieve Request</a>
		  <a href="paymentRequest" >Payment Request</a>
		  <a href="requests" >Pending Requests</a>
	  </div>
    <a class="dropdown-btn unactive">Products<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
      <a href="bspticket" >BSP Ticket</a>
		  <a href="lowcostticket" >Lowcost Ticket</a>
		  <a href="insurancePolicy" >Insurance Policy</a>
      <a href="Umrah" >Umrah</a>
      <a href="Hajj" >Hajj</a>
      <a href="enteriortourism">Enterior Tourism</a>
	  </div>
	  <a class="dropdown-btn unactive">Reports<i class="fa fa-caret-down"></i></a>
	  <div class="dropdown-container">
		  <a href="accountingStatements" >Accounting Statements</a>
		  <a href="accountingReports" >Accounting Reports</a>
      <a href="customizedReports" >Customized Reports</a>
		  <a href="bspReports" >BSP Reports</a>
		  <a href="lowcostReports" >Lowcost Reports</a>
      <a href="umrahReports" >Umrah Reports</a>
      <a href="hajjReports" >Hajj Reports</a>
	  </div>
	  <a href="logout">Logout</a>
  </div>
</div>
