<!DOCTYPE html>
<html>
<title>Users</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/sidenavStyle.css">
<link rel="stylesheet" href="/static/topbarStyle.css">
<head>
	<style>
		#showAllDiv{border-collapse:collapse;}
		#showAllDiv td{border:1px solid #000;padding:15px;}
	</style>
</head>
<body>
<%-include('sidenav.ejs')%>
<div class="main" id="container">
<section id="content-tab1">
		<div style="background-color:#173f5f;border-radius:5px;padding:10px;">
			<a class="y" id="tab1-add">Add <i class="fas fa-plus-circle"></i></a>
			<a class="y unactive" id="tab1-edit">Edit <i class="fas fa-edit"></i></a>
			<a class="y unactive" id="tab1-changePassword">Change Password <i class="fas fa-edit"></i></a>
			<a class="y unactive" id="tab1-showAll">Show All<i class="fas fa-file"></i></a>
		</div>
		<section id="add" class="tabsec">
			<h1 style="text-align:Center;">User</h1>
			<form>
			<table>
			    <tr>
				<td>
				    <p>Username</p>
				</td>
				<td>
				    <input type="text" id="addUsername"/>
				</td>
			    </tr>
			  <tr>
					<td>
					    <p>Password</p>
					</td>
					<td>
					    <input type="password" id="addPassword"/>
					</td>
			  </tr>
			    <tr>
				<td colspan="1">
				    <p>Daily Entry</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addDailyEntryAdd" style="display:inline-block;">Add
					<input type="checkbox" id="addDailyEntryEdit" style="display:inline-block;">Edit
					<input type="checkbox" id="addDailyEntryDelete" style="display:inline-block;">Delete
					<input type="checkbox" id="addDailyEntryRead" style="display:inline-block;">Read
				</td>
			    </tr>
			    <tr>
				<td colspan="1">
				    <p>Cash</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addCashAdd" style="display:inline-block;">Add
					<input type="checkbox" id="addCashEdit" style="display:inline-block;">Edit
					<input type="checkbox" id="addCashRead" style="display:inline-block;">Read
				</td>
			    </tr>
			    <tr>
				<td colspan="1">
				    <p>Requests</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addRequests" style="display:inline-block;">Access
				</td>

			    </tr>
					<td colspan="1">
							<p>Accept Requests</p>
					</td>
					<td colspan="3">
						<input type="checkbox" id="addAcceptRequests" style="display:inline-block;">Accept
					</td>

						</tr>

			    <tr>
				<td colspan="1">
				    <p>Users</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addUsers" style="display:inline-block;">Audit
				</td>
			    </tr>
			    <tr>
				<td colspan="1">
				    <p>Accounts</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addAccounts" style="display:inline-block;">Audit
				</td>
			    </tr>
			    <tr>
				<td colspan="1">
				    <p>Currencies</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addCurrencies" style="display:inline-block;">Audit
				</td>
			    </tr>
					<tr>
				<td colspan="1">
						<p>Employers</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addEmployers" style="display:inline-block;">Audit
				</td>
					</tr>

			    <tr>
				<td colspan="1">
				    <p>Reports</p>
				</td>
				<td colspan="3">
					<input type="checkbox" id="addReports" style="display:inline-block;">Read
				</td>
			    </tr>

			    <tr>
				    <td><button class="button" onClick="return addUser();">Add</button></td>
			   </tr>
			</table>
			</form>
		</section>
		<!--edit-->

		<section id="edit" class="tabsec" style="display:none;">
			<h1 style="text-align:Center;">Edit User's Permissions</h1>
			<form>
			<table>
			    <tr>
				<td>
				    <p>Username</p>
				</td>
				<td>
				    <input type="text" onchange="editShow()" id="editUsername"/>
				</td>
			    </tr>
					<tr>
					<td colspan="1">
					  <p>Daily Entry</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editDailyEntryAdd" style="display:inline-block;">Add
					<input type="checkbox" id="editDailyEntryEdit" style="display:inline-block;">Edit
					<input type="checkbox" id="editDailyEntryDelete" style="display:inline-block;">Delete
					<input type="checkbox" id="editDailyEntryRead" style="display:inline-block;">Read
					</td>
					</tr>
					<tr>
					<td colspan="1">
					  <p>Cash</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editCashAdd" style="display:inline-block;">Add
					<input type="checkbox" id="editCashEdit" style="display:inline-block;">Edit
					<input type="checkbox" id="editCashRead" style="display:inline-block;">Read
					</td>
					</tr>
					<tr>
					<td colspan="1">
					  <p>Requests</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editRequests" style="display:inline-block;">Access
					</td>

					</tr>
					<td colspan="1">
					    <p>Accept Requests</p>
					</td>
					<td colspan="3">
					  <input type="checkbox" id="editAcceptRequests" style="display:inline-block;">Accept
					</td>

					  </tr>

					<tr>
					<td colspan="1">
					  <p>Users</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editUsers" style="display:inline-block;">Audit
					</td>
					</tr>
					<tr>
					<td colspan="1">
					  <p>Accounts</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editAccounts" style="display:inline-block;">Audit
					</td>
					</tr>
					<tr>
					<td colspan="1">
					  <p>Currencies</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editCurrencies" style="display:inline-block;">Audit
					</td>
					</tr>
					<tr>
					<td colspan="1">
					  <p>Employers</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editEmployers" style="display:inline-block;">Audit
					</td>
					</tr>

					<tr>
					<td colspan="1">
					  <p>Reports</p>
					</td>
					<td colspan="3">
					<input type="checkbox" id="editReports" style="display:inline-block;">Read
					</td>
					</tr>
			    <tr>
				    <td><button class="button" onClick="return editUser();">Edit</button></td>
			   </tr>
			</table>
			</form>
		</section>
		<!--Change password-->
		<section id="changePassword" class="tabsec" style="display:none;">
			<h1>Change Password</h1>
				<table>
					<tbody>
						<tr>
							<td><p>Username</p></td>
							<td><input type="text" id="changePasswordUsername"/></td>
						</tr>
						<tr>
							<td><p>New Password</p></td>
							<td><input type="password" id="changePasswordPassword"/></td>
						</tr>
						<tr>
							<td>
								<button class="button" onClick="return changePassword(event)">Change</button>
							</td>
						</tr>
					</tbody>
				</table>
		</section>



		<!--Delete-->
		<section id="showAll" class="tabsec" style="display:none;">
			<h1 style="text-align:Center;">Show</h1>
				<table id="showAllDiv" style="text-align:Center;margin:Auto;">
					<tbody>
					</tbody>
				</table>
			<button onclick="return showAll();" class="button">Show</button>
		</section>
</section>
</div>



<script src="/static/jquery-min.js"></script>
<script src="/static/frontendlib.js"></script>
<script src="/static/topbarFunction.js"></script>

<!--vainlia javascript-->
<script>
//cash
function addUser(){
	var username=document.getElementById("addUsername").value;
	var password=document.getElementById("addPassword").value;
	var permissions={}
	permissions.dailyEntryAdd=document.getElementById("addDailyEntryAdd").checked;
	permissions.dailyEntryEdit=document.getElementById("addDailyEntryEdit").checked;
	permissions.dailyEntryDelete=document.getElementById("addDailyEntryDelete").checked;
	permissions.dailyEntryRead=document.getElementById("addDailyEntryRead").checked;

	permissions.cashAdd=document.getElementById("addCashAdd").checked;
	permissions.cashEdit=document.getElementById("addCashEdit").checked;
	permissions.cashRead=document.getElementById("addCashRead").checked;
	permissions.acceptRequests=document.getElementById("addAcceptRequests").checked;
	permissions.users=document.getElementById("addUsers").checked;
	permissions.requests=document.getElementById("addRequests").checked;

	permissions.accounts=document.getElementById("addAccounts").checked;
	permissions.employers=document.getElementById("addEmployers").checked;
	permissions.reports=document.getElementById("addReports").checked;
	permissions.currencies=document.getElementById("addCurrencies").checked;


	var userObj={username:username,password:password,permissions:JSON.stringify(permissions)};
	ajaxRequest('api/user',"POST","application/json",userObj,function(res){
		alert(res.responseText);
	});
	return false;
}
function editUser(){
	var username=document.getElementById("editUsername").value;
	var permissions={}
	permissions.dailyEntryAdd=document.getElementById("editDailyEntryAdd").checked;
	permissions.dailyEntryEdit=document.getElementById("editDailyEntryEdit").checked;
	permissions.dailyEntryDelete=document.getElementById("editDailyEntryDelete").checked;
	permissions.dailyEntryRead=document.getElementById("editDailyEntryRead").checked;

	permissions.cashAdd=document.getElementById("editCashAdd").checked;
	permissions.cashEdit=document.getElementById("editCashEdit").checked;
	permissions.cashRead=document.getElementById("editCashRead").checked;
	permissions.requests=document.getElementById("editRequests").checked;

	permissions.acceptRequests=document.getElementById("editAcceptRequests").checked;
	permissions.users=document.getElementById("editUsers").checked;
	permissions.accounts=document.getElementById("editAccounts").checked;
	permissions.employers=document.getElementById("editEmployers").checked;
	permissions.reports=document.getElementById("editReports").checked;
	permissions.currencies=document.getElementById("editCurrencies").checked;

	var userObj={username:username,permissions:JSON.stringify(permissions)};
	ajaxRequest('api/user',"PUT","application/json",userObj,function(res){
		alert(res.responseText);
	});

	return false;
}
function editShow(){
	var username=document.getElementById("editUsername").value;
	ajaxRequest('api/user/frontGet',"POST","application/json",{username:username},function(res){
		if(res.status=="200"){
			res=JSON.parse(res.responseText);
			var permissions=JSON.parse(res.permissions);
			document.getElementById("editDailyEntryAdd").checked=permissions.dailyEntryAdd;
			document.getElementById("editDailyEntryEdit").checked=permissions.dailyEntryEdit;
			document.getElementById("editDailyEntryDelete").checked=Permissions.dailyEntryDelete;
			document.getElementById("editDailyEntryRead").checked=permissions.dailyEntryRead;
			document.getElementById("editCashAdd").checked=permissions.cashAdd;
			document.getElementById("editCashEdit").checked=permissions.cashEdit;
			document.getElementById("editCashRead").checked=permissions.cashRead;
			document.getElementById("editRequests").checked=permissions.requests;
			document.getElementById("editAcceptRequests").checked=permissions.acceptRequests;
			document.getElementById("editUsers").checked=permissions.users;
			document.getElementById("editAccounts").checked=permissions.accounts;
			document.getElementById("editCurrencies").checked=permissions.currencies;
			document.getElementById("editEmployers").checked=permissions.employers;
			document.getElementById("editReports").checked=permissions.reports;
		}
		else{
			alert(res.responseText);
			document.getElementById("editDailyEntryAdd").checked=false;
			document.getElementById("editDailyEntryEdit").checked=false;
			document.getElementById("editDailyEntryDelete").checked=false;
			document.getElementById("editDailyEntryRead").checked=false;
			document.getElementById("editCashAdd").checked=false;
			document.getElementById("editCashEdit").checked=false;
			document.getElementById("editCashRead").checked=false;
			document.getElementById("editRequests").checked=false;
			document.getElementById("editAcceptRequests").checked=false;
			document.getElementById("editUsers").checked=false;
			document.getElementById("editAccounts").checked=false;
			document.getElementById("editCurrencies").checked=false;
			document.getElementById("editEmployers").checked=false;
			document.getElementById("editReports").checked=false;
		}


	});
	return false;
}

function changePassword(){
	var newPassword=document.getElementById("changePasswordPassword").value;
	var username=document.getElementById("changePasswordUsername").value;
	ajaxRequest('api/user/changePassword',"POST","application/json",{newPassword:newPassword,username:username},function(res){
		alert(res.responseText);
	});
}

function showAll(){
	ajaxRequest("api/user","GET","application/json",{},(res)=>{
		if(res.status==200){
			var showAllDiv=document.getElementById("showAllDiv");
			showAllDiv.innerHTML="<tr><td>Seq</td><td>Username</td></tr>";
			res=JSON.parse(res.responseText);
			for(var i=0;i<res.length;i++){
				var tr=document.createElement("tr");
				var th1=document.createElement("td");
				var th2=document.createElement("td");
				th1.innerHTML=i+1;
				th2.innerHTML=res[i].username;
				tr.appendChild(th1);
				tr.appendChild(th2);
				showAllDiv.appendChild(tr);
			}
		}
		else{
			alert(res.responseText);
		}
	});
}
</script>
</body>
</html>
