.tabsec{background-color:#f3f3f3;padding:10px;border-radius:14px;}
.unactive{background:#173f5f;}
.y{padding:10px;padding-left:30px;padding-right:30px;margin:0;cursor:pointer;color:#fff;}
.y:hover{background-color:#20639b;}

a{background-color:#20639b;}
